<div class="meta-author">
  <span class="meta-author-by">by</span>
  {{ .name }}
</div>

<div class="meta-social">
  {{ with .social.instagram }}
  <span class="meta-social-network">
    <a target="_blank" href="https://www.instagram.com/{{ . }}"><i class="fab fa-instagram"></i></a>
  </span>
  {{ end }}

  {{ with .social.twitter }}
  <span class="meta-social-network">
    <a target="_blank" href="https://www.twitter.com/{{ . }}"><i class="fab fa-twitter"></i></a>
  </span>
  {{ end }}

  {{ with .social.facebook }}
  <span class="meta-social-network">
    <a target="_blank" href="https://www.facebook.com/{{ . }}"><i class="fab fa-facebook"></i></a>
  </span>
  {{ end }}
</div>
